# ================================
# Maven / Gradle / Target
# ================================
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# ================================
# Конфиденциальные конфиги
# ================================
src/main/resources/config.properties
src/main/resources/hiddenConfig.properties
src/main/resources/log4j.properties

# ================================
# IntelliJ IDEA
# ================================
.idea/
*.iml
*.iws
*.ipr

# ================================
# Eclipse
# ================================
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# ================================
# NetBeans
# ================================
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# ================================
# VS Code
# ================================
.vscode/

# ================================
# MacOS
# ================================
.DS_Store

# ================================
# Allure results
# ================================
allure-results/


# ================================
# Логи
# ================================
log/